NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO=
STRIPE_PRICE_ID_ENTERPRISE=
STRIPE_PRICE_ID_PRO_ANNUAL=
STRIPE_PRICE_ID_ENTERPRISE_ANNUAL=
STRIPE_PRICE_ID_BUSINESS=
STRIPE_PRICE_ID_BUSINESS_ANNUAL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

