@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .touch-manipulation {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Eliminar todos los bordes de focus en inputs, textareas y selects */
@layer base {
  input:focus,
  textarea:focus,
  select:focus {
    outline: none !important;
    ring: 0 !important;
    box-shadow: none !important;
  }
  
  input,
  textarea,
  select {
    outline: none !important;
  }
  
  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: none !important;
    ring: 0 !important;
    box-shadow: none !important;
  }
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

